1 html basics/exercise.html
1 html basics/website.html
2 css basic/buttons.html
2 css basic/exercise.html
2 css basic/style.css
3 hovers, transitions, shadows/buttons.html
3 hovers, transitions, shadows/style.css
4 CSS Box Model/exercise.html
4 CSS Box Model/style.css
5 Text Styles/ex-style.css
5 Text Styles/exercise.html
5 Text Styles/style.css
5 Text Styles/text.html
7 Images/chuckle sandwich.jpg
7 Images/index.html
7 Images/style.css
8 CSS display properties/excercise.html
8 CSS display properties/google.jpg
8 CSS display properties/style.css
9 Div Element/index.html
9 Div Element/style.css
9 Div Element/Cat Pics/cat1.jpg
9 Div Element/Cat Pics/cat2.jpg
9 Div Element/Cat Pics/cat3.jpg
9 Div Element/Cat Pics/cat4.jpg
9 Div Element/Cat Pics/cat5.jpg
9 Div Element/Cat Pics/cat6.jpg
0 Youtube/thumbnails/thumbnail2.webp
0 Youtube/pfp/chuckle-sandwich.jpg
10 Nested Layout/index.html
10 Nested Layout/style.css
10 Nested Layout/Cat Pics/cat1.jpg
10 Nested Layout/Cat Pics/cat2.jpg
10 Nested Layout/Cat Pics/cat3.jpg
10 Nested Layout/Cat Pics/cat4.jpg
10 Nested Layout/Cat Pics/cat5.jpg
10 Nested Layout/Cat Pics/cat6.jpg
0 Youtube/pfp/unnamed.jpg
0 Youtube/thumbnails/thumbnail3.webp
11 Grids/grids.html
11 Grids/index.html
11 Grids/style.css
11 Grids/style2.css
