1 html basics/exercise.html
1 html basics/website.html
2 css basic/buttons.html
2 css basic/exercise.html
2 css basic/style.css
3 hovers, transitions, shadows/buttons.html
3 hovers, transitions, shadows/style.css
4 CSS Box Model/exercise.html
4 CSS Box Model/style.css
5 Text Styles/ex-style.css
5 Text Styles/exercise.html
5 Text Styles/style.css
5 Text Styles/text.html
